body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
}
.mainContainer{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 768px){
  .mainContainer{
    padding: 20px 20px;
  }
  
}