.headerXlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerXlogoText{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}
.headerConnectBtn{
    background-color: #e0f7fa;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
}
.headerConnectBtn:hover{
    background-color: #b2ebf2;
}
.headerMainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerConnected{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px){
    .headerMainContainer{
        padding: 10px 20px;
    }
    .headerXlogoText{
        font-size: 1.2rem;
    }
    .headerConnectBtn{
        padding: 8px 15px;
        font-size: 0.9rem;
    }
    
}