.commentsMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.commentsBackDiv {
  /* display: flex; */
  /* align-items: flex-start; */
  width: 100%;
}